.sidebar {
  background-color: #f7f7f7;
}

.sidebar__heading2 {
  text-align: center;
  cursor: pointer;
}

.form__add {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.form__add p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__add hr {
  border: 0.5px solid #e3e3e3;
  width: 100%;
}

.form__add button {
  width: 100%;
  background: #3a62f4;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3a62f4;
  cursor: pointer;
  font-weight: 600;
}

.form__add--input {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  box-shadow: 1px 1px 1px 0px #dacbcb;
  width: 340px;
}

.form__add button[disabled] {
  background: #eee;
  border: 1px solid #eee;
  color: black;
  cursor: auto;
}

.isActive {
  background-color: #3a62f4;
}

nav {
  padding: 0 30px 30px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

nav ul li {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

nav ul li span {
  margin-left: 10px;
  font-style: italic;
}
nav ul li a {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  color: #111111;
  font-weight: 500;
  text-align: center;
}

nav a.active {
  color: #fff;
  background: #3a62f4;
  font-weight: 500;
}

nav ul a:visited,
nav ul a:link,
nav ul a:hover {
  text-decoration: none;
}

nav ul li a:hover {
  color: #3a62f4;
  background-color: #e3e3e3;
}

.red,
.green {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}
.agent__status .red {
  background-color: red;
}
.agent__status .green {
  background-color: green;
}
