h1 {
  color: #111111;
  text-decoration: underline;
}

.contact__details .form__edit button,
.contact__details .form__destroy button {
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  box-shadow: 1px 1px 1px 0px #dacbcb;
  width: 60px;
}

.contact__details .form__edit button {
  color: #588fe8;
}

.contact__details .form__destroy button {
  color: #d95860;
  margin-left: 10px;
}

.contact__details .form__destroy button:hover {
  transition: ease-in-out all 0.2s;
  background: #d95860;
  color: #f7f7f7;
  border: 1px solid #d95860;
  cursor: pointer;
}

.contact__details .form__edit button:hover {
  transition: ease-in all 0.2s;
  background: #588fe8;
  color: #f7f7f7;
  border: 1px solid #588fe8;
  cursor: pointer;
}

.form__actions {
  margin-bottom: 20px;
}

/* .form__actions div {
  display: flex;
} */

.page {
  height: 100vh;
  display: flex;
}

#detail {
  width: 100%;
  padding-left: 60px;
}

#detail h1 {
  padding-bottom: 40px;
}

.contact {
  display: flex;
  position: relative;
}

.contact img {
  border-radius: 30px;
}

.contact__details {
  margin-left: 40px;
}

.contact__details h1 {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.contact__details h1 form {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Edit.tsx */
.form__row .input {
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  box-shadow: 1px 1px 1px 0px #dacbcb;
  width: 200px;
  margin-left: 200px;
}

.form__row button {
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  box-shadow: 1px 1px 1px 0px #dacbcb;
  width: 60px;
  cursor: pointer;
}

.form__row .edit {
  color: #588fe8;
}
.form__row .cancel {
  color: #111111;
}

#zero-state img {
  border-radius: 2px;
}

#zero-state {
  text-align: center;
}

hr {
  border: 1px solid #f7f7f7;
}

.action__buttons {
  display: flex;
  justify-content: flex-end;
}

h3,
.no__agents {
  text-align: center;
}

h2:hover {
  text-decoration: underline;
}

.loading {
  background-color: rgba(248, 248, 248, 0.5);
}
