table {
  border-collapse: collapse;
}
th {
  background-color: green;
  color: white;
}
th,
td {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}
.geeks {
  border-right: hidden;
}
.gfg {
  border-collapse: separate;
  border-spacing: 0 15px;
}
h1 {
  color: green;
}

form {
  width: 100%;
  padding: 20px;
}
