form {
  position: relative;
}
#customer-form .form__row {
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: -0.5px 1px 4px 1px #eee;
  padding: 50px;
}

#customer-form h1 {
  cursor: pointer;
}

#customer-form .form__row button {
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  background: #3a62f4;
  width: 42%;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
}

.form__row p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__row p.action__buttons {
  flex-direction: column;
}
.form__row label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__row label:last-of-type {
  align-items: baseline;
}

.form__row span {
  width: 200px;
}
